html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* slideshow starts here */

#bgslider { 
	overflow: hidden;
	margin-top: -100px;
	align-items: center;
	height: 100vh;
}
#bgslider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

#bgslider figure img { 
	width: 20%; 
	float: left; 
	height: 100vh;
	object-fit: cover;
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

/* slideshow ends here */

.section1 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

.section1-text {
	position: absolute;
	margin-top: 10%;
	z-index: 20000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section1-text > h1 {
	padding: 0 3% 0 2.5%;
	background: rgba(255, 249, 239, 0.5);
	font-family: 'IM FELL English', serif;
	font-style: italic;
	font-weight: normal;
	font-size: 48px;
	line-height: 81px;
	text-align: center;
	color: #30352E;
}

.section1-text > button {
	z-index: 20000;
}

header {
	position: relative;
	z-index: 15;
}

.navbar {
	background-color: rgba(47, 79, 79, 0);
	height: 100px;
	display: flex;
	position: relative;
	top: 0px;
	list-style: none;
}

.company-logo {
	width: 25%;
	margin: 20px 0 0 30px;
	display: flex;
}

.company-logo h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #30352E;
	text-transform: uppercase;
}

.company-logo h4 {
	font-family: 'Martel', serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	color: #000000;
}

.navbar-list {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: 200px;
	color: #000000;
}

.navbar-list > li {
	display: inline-block;
	margin: 0 24px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
}

.navbar-list a {
	color: #000000;
}

.navbar-icons {
	width: 15%;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar-icons > li {
	display: inline-block;
	margin: 0 5px;
}

.navbar-icons a {
	color: #000000;
}

.navbar-icons i {
	font-size: 20px;
	color: #000000;
}

.contact-us {
	height: 100vh;
}

.section2 {
	background-color: #FFF9EF;
	height: 100vh;
	display: block;
	align-items: center;
	justify-content: center;
}

.section2 .section-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 40px 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.5em;
	color: #000000;
}

.section2-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.section2-imagebox {
	height: 60vh;
	width: 20vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}

.section2-imagebox > img {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 500;
	opacity: 0.5;
	transform-origin: 50% 65%;
  	transition: transform .75s, filter .75s ease-in-out;
}
  
.section2-imagebox > img:hover {
	opacity: 1.0;
	filter: brightness(100%);
	  transform: scale(1.5);
  }

.section2-imagebox .btn {
	margin: 5% 20% 0 20%;
}

.section2-imagebox h1 {
	margin-top: 250px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #30352E;
	z-index: 1000;
}

.btn {
	margin-top: 10px;
	padding: 10px 30px;
	border-style: none;
	border:2px solid #30352E;
	background-color: #30352E;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	z-index: 10000;
}

.btn:hover {
	background-color: #FFF9EF;
	color: #30352E;
	border: 2px solid #30352E;
}

.back-to-top {
	margin-top: 20px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	bottom: 20px;
	right: 0px;
	z-index: 2;
}

.back-to-top i {
	font-size: 40px;
	color: #DD864E;
}

.back-to-top i:hover {
	color: #F6B591;
}

.section3 {
	background-color: #C5DDDE;
	background: url(../images/background002.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section3-gallery {
	width: 50vw;
	padding: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.image-container {
	height: 100px;
	width: 100px;
	overflow: hidden;
	margin: 5px 5px;
}

.section3-gallery img {
	height: 100px;
	width: 100px;
	transform-origin: 50% 65%;
  	transition: transform .5s, filter .5s ease-in-out;
  	filter: brightness(150%);
}

.image-container:hover img {
	filter: brightness(100%);
  	transform: scale(1.5);
}

.about-us {
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.about-us h1 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFF9EF;
}

.about-us p {
	text-align: center;
	padding: 10px 100px 10px 100px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFF9EF;
}

.about-us .socmed-section {
	display: block;
	justify-content: center;
}

.about-us .socmed-icons {
	display: flex;
	justify-content: center;
}

.about-us .socmed-icons > i {
	color: #FFF9EF;
	font-size: 32px;
	margin: 0 5px;
}

.section4 {
	background-color: #C5DDDE;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.section4 h1 {
	font-family: Montserrat, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #30352E;
}

.section4 .section-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 40px 0;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #000000;
}

.section4-imagebox {
	background-color: whitesmoke;
	height: 300px;
	width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.text-container {
	height: 250px;
	width: 250px;
	background: rgba(255, 249, 239, 0.95); 
	opacity: 0.75;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.section4 .imagebox-text {
	position: absolute;
}

.section4-image1 {
	background: url(../images/background003.jpg);
	background-size: cover;
	background-position: center;
}

.section4-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.section4 a {
	color: #FFF9EF;
}

/* modal start*/

.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background-color: rgba(255, 249, 239, 1);
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  font-family: 'Montserrat', serif;
}

.modal-window li {
  font-family: 'Open Sans', sans-serif;
}

#open-modal2 .size-guide {
	display: flex;
	justify-content: center;
}

/*modal end*/

.section5 {
	background-color: #FFF9EF;
	height: 100vh;
	display: flex;
}

.section5 li {
	list-style-type: none;
}

.section5 a {
	color: #30352E; 
}

.section5 .support {
	width: 20%;
	padding: 50px 20px 0 25px;
	display: block;
	line-height: 50px;
}

.section5 .support h1 {
	font-family: 'Montserrat', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: #000000;
	text-transform: uppercase;
}

.section5 .support li{
	line-height: 50px;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.1em;
}

.section5 .policies {
	width: 20%;
	padding: 50px 20px 0 25px;
	display: block;
	line-height: 50px;
}

.section5 .policies h1 {
	font-family: Montserrat, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: #000000;
	text-transform: uppercase;
}

.section5 .policies li{
	line-height: 50px;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.1em;
}

.map-container {
	width: 30%;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.map-container iframe {
	margin-top: 20px;
	padding: 0 20px;
	width: 400px;
	height: 300px;
}

.company-address {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}

.company-address h4 {
	line-height: 50px;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.1em;
}

.company-address p {
	line-height: 50px;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.section5 .contact-form {
	width: 30%;
	padding: 50px 75px 0 75px;
	display: block;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
}

.section5 .contact-form h1 {
	font-family: Montserrat, serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: #000000;
	text-transform: uppercase;
}

.contact-form input {
	padding: 10px 0 10px 10px;
	width: 100%;
	font-size: 12px;
}

.contact-form textarea {
	margin-top: 7px;
	padding: 10px 0 10px 10px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

/*media queries*/
@media only screen and (max-width: 360px) {
	
	section {
		width: 100vw;
	}

	header {
		z-index: 40000;
	}

	.section1 {
		width: 100%;
		z-index: 30000;
	}

	.section1 img {
		height: 100vh;
	}

	.section1-text {
		margin-top: 50%;
		position: absolute;
		z-index: 20000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.section1-text > h1 {
		background: rgba(255, 249, 239, 0.5);
		font-family: 'IM FELL English', serif;
		font-style: italic;
		font-weight: normal;
		font-size: 24px;
		line-height: 81px;
		text-align: center;
		color: #30352E;
	}

	.section1-text > button {
		z-index: 20000;
	}

	#bgSlider {
		height: 100vh;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	.company-logo {
		margin-top: 25px;
		margin-left: 70px;
	}

	.navbar-list {
		display: none;
	}

	.navbar-icons {
		position: absolute;
		top: 120px;
		left: 175px;
	}

	.section2 {
		height: 1800px;

	}

	.section2 .section-text > h1 {
		font-size: 14px;
	}

	.section2-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section2-imagebox {
		height: 60vh;
		width: 60vw;
		margin: 5px 0;
	}

	.section3 {
		height: 680px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section3-gallery {
		width: 100%;
		padding: 0 40px 10px 50px;
		display: flex;
		flex-direction: row;
	}

	.section3 .image-container {
		height: 75px;
		width: 75px;
	}

	.section3 .about-us {
		width: 100%;
	}

	.about-us .section-title {
		margin-top: 5%;
	}

	.about-us .section-title > h1 {
		font-size: 18px;
	}

	.about-us > p {
		margin: 0;
		padding: 3% 16px;
	}

	.section4 {
		height: 1100px;
	}

	.section4 .section-text {
		margin: 20px 0 10px 0;
	}

	.section4 .section-text > p {
		padding: 1.3% 5%;
	}

	.section4-div {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.section4-imagebox {
		height: 300px;
		width: 300px;
		margin: 2%;
	}
	
	.text-container {
		height: 250px;
		width: 250px;
	}

	.section4 h1 {
		font-size: 24px;
		padding: 0;
		margin: 0;
	}

	.section5 {
		height: 1080px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section5 .support {
		width: 100%;
		text-align: center;
	}

	.section5 .policies {
		width: 100%;
		text-align: center;
	}

	.section5 .map-container {
		width: 100%;
		align-items: center;
	}

	.map-container > .company-address {
		padding: 0 35px;
	}

	.map-container > iframe {
		width: 90%;
		height: 75%;
	}

	.section5 .contact-form {
		width: 100%;
		margin-bottom: 50px;
	}

}

@media only screen and (min-width: 361px) and (max-width: 768px) {

	
	section {
		width: 100vw;
	}

	.navbar-list {
		display: none;
	}

	.navbar-icons {
		margin-left: 55%;
	}

	.section1 {
		height: 50vh;
	}

	.section1-text {
		position: absolute;
		padding: 0;
		margin-top: 15%;
		z-index: 20000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.section1-text > h1 {
		background: rgba(255, 249, 239, 0.5);
		font-family: 'IM FELL English', serif;
		font-style: italic;
		font-weight: normal;
		font-size: 24px;
		line-height: 81px;
		text-align: center;
		color: #30352E;
	}

	.section1-text > button {
		z-index: 20000;
	}

	.section2 {
		height: 1060px;
	}
	
	.section2-div {
		margin-top: 0;
		padding: 0 5% 3% 5%;
		display: flex;
		flex-wrap: wrap;
	}

	.section2 .section-text {
		font-size: 12px;
		margin-bottom: 0;
		padding-bottom: 3%;
	}

	.section2-imagebox {
		margin: 3% 0;
		height: 40vh;
		width: 40vw;
	}

	.section3 {
		height: 900px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section3-gallery {
		width: 100%;
		padding: 0 10% 0 20%;
		display: flex;
		flex-direction: row;
	}

	.section3 .image-container {
		height: 100px;
		width: 100px;
		margin: 1.5% 1.5%;
	}

	.section3 .about-us {
		width: 100%;
		margin-top: 15%;
	}

	.about-us > p {
		margin: 0;
		padding: 0 20%;
		font-size: 16px;
		line-height: 25px;
	}

	.section4 {
		height: 40vh;
	}

	.section4-div {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.section4-imagebox {
		height: 200px;
		width: 200px;
		margin: 2%;
	}
	
	.text-container {
		height: 167px;
		width: 167px;
	}

	.section4 h1 {
		font-size: 16px;
		padding: 0;
		margin: 0;
	}

	.section5 {
		display: flex;
		flex-wrap: wrap;
	}

	.section5 .support {
		width: 50%;
	}

	.section5 .policies {
		width: 50%;
	}

	.section5 .map-container {
		width: 50%;
		margin-top: 0;
	}

	.section5 iframe {
		width: 100%;
		height: 60%;
	}

	.section5 .contact-form {
		width: 50%;
		padding: 0 10% 0 3.5%;
	}

}